$earning-color: #5e72e4;
$expense-color: #f5365c;
$heading-size: 1.4rem;
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
.overview-chart {
  width: 100%;
  cursor: pointer;
  padding-bottom: 1rem;

  text-align: center;
  .overview-pie {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
    padding-bottom: 0;
  }
  .overview-available-money__text {
    font-weight: 300;
    display: block;
  }
  .overview-available-money__amount {
    font-weight: 500;
    font-size: 1.4rem;
  }
  .overview-action {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    button span svg {
      margin-right: 4px;
    }
    button {
      font-size: 12px;
      line-height: 1.5;
      // padding: 4px px;
    }
  }
  .overview-action__amount {
    display: block;
    width: 100%;
  }
}
.MuiButton-label {
  flex-wrap: wrap;
}
.--whiteBackground {
  background-color: white;
  border-radius: 10px;
  border: 1px solid #eee;
}

h6.nav-link {
  &:last-child {
    flex-grow: 1;
    color: red;
  }
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
  margin-left: 8px !important;
}
.tab-heading {
  font-size: 1rem;
  text-transform: uppercase;
}
.backup-tab {
  padding: 1.5rem 1rem;

  .form-input-wrap {
    margin: 10px auto;
  }
}

.six-hub-overview {
  font-size: 14px;
  &__list {
    list-style-type: none;
    display: flex;
  }
  &__title {
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
  }
  &__item {
    position: relative;
    // padding: 0rem 1rem;
    width: calc(100% / 6);
    align-items: center;
    display: flex;
    flex-direction: column;
    canvas {
      width: (80%) !important;
      height: (76%) !important ;
    }
  }
}

.expense-report {
  padding: 1.5rem 1rem;
  &__chart {
    margin-bottom: 10px;
  }
}

.MuiFormControl-root {
  width: 100%;
}
.home-container {
  background-color: #f8f9fe;
  height: 100vh;
}

.latest-trans {
  padding: 1.2rem 0.7rem;
  &__list {
    list-style-type: none;
    padding: 0;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #eee;
    }
  }
  &__type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  &__content {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 13px;
    flex-direction: column;
  }
  &__amount {
    font-size: 13px;
    margin: 0;
    color: #2bce89;
    font-weight: 500;
  }
  &__icon {
    @include size(1.7rem, 1.7rem);
    position: relative;
    background-color: #f7fafc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 0.7rem;
      transform: translate(-50%, -50%);
    }
  }
  &__title {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
    margin-left: 8px;
  }
}

.modals {
  position: absolute;
  width: 400px;
  background-color: white;
  border: none;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 1rem 1.5rem;
  &__wrapper {
    position: relative;
  }
  &__title {
    font-size: 16px;
    font-weight: 600;
  }
  &__close {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: -4px;
  }
  &__content {
    margin-top: 20px;
  }
}
